body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
  line-height: 1em;

}

h2 {
    color: #d4922e;
    margin-left: 5mm;
    line-height: 1ex;
}

h3 {
    color: hsla(50, 80%, 50%, 1);
    background-color: green;
    margin-left: 0.5cm;
    line-height: 2vw;
}

form {
    color: rgba(160, 28, 236, 0.9);
    text-decoration: underline;

}


